ARCADE_URL=http://arcadedb-qn3r-arcadedb-1:2480
ARCADE_DB=esporte
ARCADE_USER=esporte
ARCADE_PASSWORD=change-me
JWT_SECRET=generate-a-long-random-secret
MASTER_USERNAME=admmaster
MASTER_PASSWORD=change-me
API_INTERNAL_URL=http://api:4000
NEXT_PUBLIC_API_URL=/api
